/* General Formatting*/
body {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #14213D;
    color: #FFFFFF;
}

img {
    width: 50%;
    max-height: 600px;
    object-fit: cover;
}

h1,h2,h3 {
    font-family: Arial;
    text-align: center;
    color: #CCCCCC;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.section {
    border: solid #FFFFFF 2px;
    padding: 2%;
    margin-top: 5%;
}

p {
    font-size: 20px;
    text-align: justify;
    margin-top: 2px;
    margin-bottom: 5px;
    text-indent: 2.0em;
}

/* Header */
#header {
    border: double #FFFFFF 5px;
    padding-left: 2%;
    padding-right: 2%;
    width: fit-content;
    margin: auto;
    margin-top: 50px;
}

/* Navbar */
.navbar ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    border: solid #FFFFFF 2px;
    text-align: left;
    position: fixed;
    width: 90%;
    top: 20px;
    background-color: #14213D;
}
.navbar li {
    float: left;
}

.navbar a {
    display: block;
    border-right: solid #FFFFFF 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

.navbar a.active {
    background-color: #FFFFFF;
}

.navbar a:hover {
    background-color: #A5A5A5;
}

.navback {
    height: 20px;
    width: 100%;
    position: fixed;
    top: 0px;
    background-color: #14213D;
}

#assignment {
    float: right;
    border-left: solid #FFFFFF 1px;
    border-right: none;
}

/* Links */
a:link {
    text-decoration: none;
    color: #eb9813;
}

a:visited {
    color: #eb9813; 
    text-decoration: none;
}

