/* General Formatting*/
body {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: #14213D;
    color: #FFFFFF;
}

img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 600px;
    object-fit: cover;
}

h1,h2,h3 {
    font-family: Arial;
    text-align: center;
    color: #CCCCCC;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

.section {
    border: solid #FFFFFF 2px;
    padding: 2%;
    margin-top: 5%;
}

p {
    font-size: 20px;
    text-align: justify;
    margin-top: 2px;
    margin-bottom: 5px;
    text-indent: 2.0em;
}

/* Header Border, Centering, and Padding */
#header {
    border: double #FFFFFF 5px;
    padding-left: 2%;
    padding-right: 2%;
    width: fit-content;
    margin: auto;
}

#title {
    width: auto;
}

/* Navbar */
.navbar ul {
    list-style-type: none;
    margin: 0px;
    margin-bottom: 16px;
    padding: 0px;
    overflow: hidden;
    border: solid #FFFFFF 2px;
    text-align: left;
    
}
.navbar li {
    float: left;
}

.navbar a {
    display: block;
    border-right: solid #FFFFFF 1px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 20px;
    padding-left: 20px;
}

.navbar a.active {
    /* color: #CCCCCC; */
    background-color: #CCCCCC;
}


/* Links */
a:link {
    text-decoration: none;
    color: #FCA311;
}

a:visited {
    color: #FCA311; 
    text-decoration: none;
}

